<h1>Listing Post</h1>
<tr>
  <% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span><br>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
  <% end %>
</tr> <br>

<table>

  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>:id</th>
    <th>Author</th>
    <th colspan="2"></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>

      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.user_id %></td>
      <td><%= post.author %></td>
      <td><%= link_to 'Show', post_path(post) %></td>

      <% if post.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>

    </tr>
  <% end %>
</table> <br>
<%= link_to 'New post', new_post_path %>
