<h1>Listing Post</h1>
<tr>
  <% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path %> либо <%= link_to 'Зарегистрироваться', new_user_registration_path %>
  <% end %>
</tr> <br>
<%= link_to 'New post', new_post_path %>
<table>

  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>User</th>
    <th colspan="2"></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>

      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.user.email %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Delete', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
